.bundle
.byebug_history
.DS_Store
.env*
.env*
!.env.default
.vscode
.yarn-integrity
*.swp
log/*.log
!log/.keep
manifest.json
node_modules
node_modules
public/assets
public/javascript
public/javascript/manifest.json
public/packs
public/packs-test
tmp/*
tmp/**/*
!tmp/.keep
yarn-debug.log*
yarn-error.log
