// Specific CSS for your home-page
#home {
  .wrapper-banner {
    padding: 30px;
    display: flex;
    justify-content: center;
  }

  #subtitle-banner {
    background-color: $beige;

  }

  #subtitle-banner .content {
    font-family: $body-font;
    text-align: center;
    color: $gray-800;
    width: 680px;
    margin: auto;
  }

  #wrapper-banner {
    color: $gray-700;
  }

  .wrapper-content {
    text-align: center;
    padding: 30px;
  }

  .wrapper-content p {
    padding-top: 24px;
  }

  .home-img {
    display: flex;
    justify-content: center;
    opacity: 0.8;
  }
}
