#job-cards {
  .search {
    max-width: 300px;
    margin-right: 4px;
    display: inline-block;
  }

  .sort {
    padding: 0 10px;
    height: auto;
    font-size: 1rem;
  }

  .controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.introjs-tooltip {
  letter-spacing: inherit;
  color: $body-color;
  font-family: inherit;
  text-align: center;
}
