.job-offer {
  flex-grow: 1;
  flex-shrink: 1;

  .grid-item {
    padding: 10px 20px;
  }

  &-user-infos {
    border: 1px solid $primary;
  }

  &-top--grades {
    white-space: nowrap;
    font-size: $font-size-base * 1.1;
  }

  &-top {
    display: flex;
    margin-bottom: 10px;
  }

  &-top--description h3 {
    letter-spacing: -0.3px;
  }

  &-top--description h3 {
    margin: 0;
  }

  .right-side {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
  }

  &-top--grades {
    padding: 4px;
  }

  &-top img {
    box-shadow: 1px 1px 10px #e9ecef;
    margin-right: 20;
    height: 105px;
    max-width: 150px;
    align-self: auto;
  }

  &-user-infos p {
    margin: 0;
  }

  &-map img {
    width: 290px;
    height: 300px;
  }

  &-user-infos td,
  &-user-infos th {
    font-weight: lighter;
  }

  &-user-infos th {
    padding-right: 20px;
  }

  &-user-infos {
    box-shadow: 1px 1px 10px #e9ecef;
    background-color: #f8f9fa;

    th {
      vertical-align: text-top;
    }

    td {
      word-break: break-all;
    }
  }

  &-job--description {
    margin-top: 30px;
    text-align: justify !important;
  }

  .text-right {
    direction: rtl;
  }

  @media screen and (max-width: 555px) {
    &-top img {
      display: none;
    }
  }
}

.job-info {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 300px;
  padding-right: 15px;
  padding-left: 15px;
}

#job-container {
  #map {
    box-shadow: 1px 1px 10px #e9ecef;
  }
}
