.job-offer {
  flex-grow: 1;
  flex-shrink: 1;

  .grid-item {
    padding: 10px 20px;
  }

  &-user-infos {
    border: 1px solid $primary;
  }

  &-top--grades {
    white-space: nowrap;
    font-size: $font-size-base * 1.1;
  }

  &-top {
    display: flex;
    margin-bottom: 10px;
  }

  &-top--description {
    padding-left: 20;
  }

  &-top--description h2, h4 {
    margin: 0;
  }

  &-top--grades {
    padding: 4px;
  }

  &-top img {
    height: 66px;
    max-width: 100px;
  }

  &-user-infos p {
    margin: 0px;
  }

  &-map img {
    width: 290px;
    height: 300px;
  }

  &-user-infos td,
  &-user-infos th {
    font-weight: lighter;
  }

  &-user-infos th {
    padding-right: 20px;
  }

  .text-right {
    direction: rtl;
  }
}

.job-info {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 300px;
  padding-right: 15px;
  padding-left: 15px;
}

.job-offer-user-infos {
  th {
    vertical-align: text-top;
  }

  td {
    word-break: break-all;
  }
}
