<div class='job-offer-user-infos section-content'>
  <table>
    <tr>
      <th scope="row">
        Status
      </td>
      <td>
        Pending
      </td>
    </tr>
    <tr>
      <th scope="row">
        Deadline
      </td>
      <td>
        31/01
      </td>
    </tr>
    <tr>
      <th scope="row">
        Start date
      </td>
      <td>
        31/01
      </td>
    </tr>
    <tr>
      <th scope="row">
        Contract
      </td>
      <td>
        VIE
      </td>
    </tr>
    <tr>
      <th scope="row">
        Structure
      </td>
      <td>
        Startup
      </td>
    </tr>
    <tr>
      <th scope="row">
        Industry
      </td>
      <td>
        Tech
      </td>
    </tr>
    <tr>
      <th scope="row">
        Salary
      </td>
      <td>
        200000000000001 euros
      </td>
    </tr>
  </table>
</div>
<!--
<div class='job-offer-map'>
  <img src="https://medias2.prestastore.com/653546-pbig/google-map-api-v3.jpg" alt="image-test">
</div>
<div class='job-offer-alumnis section-content'>
  <h3>Alumni Contacts</h3>
  <p>Adrien worked here in 2012</p>
  <p>adrien@gmail.com</p>
</div>
-->
