.jobcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $jobcard-height;
  border: 1px solid $gray-200;
  box-shadow: 1px 1px 10px $gray-200;
  transition: transform .2s;
  margin-bottom: 8px;
  padding-right: 8px;
  background-color: $gray-100;
  position: relative;

  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
  }
  &-link:hover,
  &-link:focus,
  &-link:active {
    text-decoration: none;
  }

  &:hover {
    border: 1px solid $primary;
    transform: scale(1.01);
  }

  &-img {
    padding: 0 !important;
  }

  &-img img {
    height: $jobcard-height;
    width: $jobcard-height;
  }

  &-title {
    padding-left: 30px;
    flex-grow: 1;
  }

  &-date {
    width: 160px;
  }

  &-perso-grade {
    font-weight: bold;
  }

  &-auto-grade{
    color: $primary;
    font-weight: bold;
  }

  &-action {
    font-size: 18px;
    z-index: 1;
  }

  &-salary,
  &-perso-grade,
  &-auto-grade,
  &-action {
    text-align: center;
    flex-basis: 80px;
    flex-shrink: 1
  }

  &-read {
    color: $gray-600;
    text-decoration: none;
    background-color: $body-bg;
  }
}

.removed-item {
  animation: removed-item-animation 0.8s cubic-bezier(0.65, -0.02, 0.72, 0.29);
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  30% {
    opacity: 0.5;
    transform: translateX(50px);
  }

  80% {
    opacity: 0.25;
    transform: translateX(-800px);
  }

  100% {
    opacity: 0;
    transform: translateX(-800px);
  }
}
