.jobcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $jobcard-height;
  border: 1px solid $gray-200;
  box-shadow: 1px 1px 10px $gray-200;
  transition: transform .2s;
  margin-bottom: 8px;
  padding-right: 8px;
  background-color: $gray-100;

  &:hover {
    border: 1px solid $primary;
    transform: scale(1.01);
  }

  &-img {
    padding: 0 !important;
  }

  &-img img {
    height: $jobcard-height;
    width: $jobcard-height;
  }

  &-title {
    padding-left: 30px;
    flex-grow: 1;
  }

  &-date {
    width: 160px;
  }

  &-perso-grade {
    font-weight: bold;
  }

  &-auto-grade{
    color: $primary;
    font-weight: bold;
  }

  &-action {
    font-size: 18px;
  }

  &-salary,
  &-perso-grade,
  &-auto-grade,
  &-action {
    text-align: center;
    width: 80px;
  }

  &-read {
    color: $gray-600;
    text-decoration: none;
    background-color: $body-bg;
  }
}
