<div class="jobcard">
  <% link_to 'job_details', "#"  %>
  <div class="jobcard-img"><%= image_tag asset_pack_path('images/logo-fb-noir.png'), height: 50 %></div>
  <div class="jobcard-title">CEO @Facebook</div>
  <div class="jobcard-date d-none d-md-block">31/10/2018</div>
  <div class="jobcard-salary d-none d-sm-block">100k$</div>
  <div class="jobcard-perso-grade">5/5</div>
  <div class="jobcard-auto-grade">A+</div>
  <div class="jobcard-action zoom">
    <%= link_to '#' do %>
      <i class="fas fa-trash text-gray"></i>
    <% end %>
  </div>
</div>
