<div class='container'>
  <div class='row'>
    <div class='col-sm-8'>
      <div class='job-offer-container'>
        <header class='job-offer-top'>
          <div class='job-offer-top--left'>
            <div class='job-offer-top--title'>
              <div class= 'jobcard-img'>
                <%= image_tag asset_pack_path('images/logo-fb-noir.png'), height: 50 %>
              </div>
              <div class='job-offer-top--description'>
                <h2>CEO</h2>
                <h4>@ Le Wagon</h4>
              </div>
            </div>
            <div class='job-offer-top--icon'>
              <i class="fas fa-trash"></i>
            </div>
          </div>
          <div class='job-offer-top--right'>
            <div class='job-offer-top--grades'>
              <h2>4/5</h2>
              <h2>A+</h2>
            </div>
            <div class='job-offer-top--companylink btn btn-primary'>
              <a href="https://www.lewagon.com/fr">Apply</a>
            </div>
          </div>
        </header>
<!--         <div class='job-offer-container--company-information section-content'>
          <h2>Company Information</h2>
          <p class='text-justify'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
        </div> -->
        <div class='job-offer-container--job-description section-content'>
          <h2>Company Information</h2>
          <p class='text-justify'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit</p>
        </div>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='job-offer-user-infos section-content'>
          <p>Status: Pending</p>
          <p>Deadline: 31/01</p>
          <p>Starting Date: 09/2019</p>
          <p>Contract: VIE </p>
          <p>Structure: Start-Up</p>
          <p>Industry: Tech</p>
          <p>Salary: 2000 euros </p>
      </div>
      <div class='job-offer-map'>
        <img src="https://medias2.prestastore.com/653546-pbig/google-map-api-v3.jpg" alt="image-test">
      </div>
      <div class='job-offer-alumnis section-content'>
        <h3>Alumni Contacts</h3>
        <p>Adrien worked here in 2012</p>
        <p>adrien@gmail.com</p>
      </div>
    </div>
  </div>
</div>
