<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div class="event-calendar">
      <%= event.name %>
    </div>
  <% end %>
<% end %>


<div class="modal fade" id="eventNameModal" tabindex="-1" role="dialog" aria-labelledby="eventNameLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventNameLabel">New event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Please enter below the name of the event</label>
            <input type="hidden" class="form-control" id="start_date">
            <input type="text" class="form-control" id="event_name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="submit-new-event" type="button" class="btn btn-primary">Create event</button>
      </div>
    </div>
  </div>
</div>
