<h1>Calendar</h1>

<div class="calendar-container">
  <div class="card-calendar">
    <div class="date">13 Oct</div>
  </div>
  <div class="card-calendar">
    <div class="date">13 Oct</div>
    <div class="interview">Interview Space X</div>
    <div class="deadline">Deadline Apple</div>
  </div>
  <% 26.times do %>
    <div class="card-calendar">
      <div class="date">13 Oct</div>
    </div>
  <% end %>
</div>
