<div id="extension" class="content-wrapper">
  <div class="wrapper">
    <%= link_to 'Click here to install the Chrome extension', 'https://chrome.google.com/webstore/detail/suricat/chiagibhddnikihmbifjjgobimgmbhlm', target: "_blank", class:'btn btn-primary' %>
  </div>
</div>
