.banner {
  color: white;
  text-align: center;
  height: 650px;


  // height: calc(100vh - #{$navbar-height});
  background-size: cover !important;
  background-position: -150px -150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;


   h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 25px;
    font-weight: lighter;
    color: $light;
    opacity: 0.8;
    margin-bottom: 30px;
  }
}

.banner-content {

}
