.btn:active, .btn:hover, .btn {
  font-family: Raleway;
  font-weight: 500;
  text-decoration: none !important;
}

.btn-primary, .btn-secondary {
  border: 1px solid $primary;

  &:hover {
    border: 1px solid $primary;
  }
}

.btn-primary {
  color: $body-bg;

  &:hover {
    color: $primary;
    background: $body-bg;
  }
}
.btn-secondary {
  color: $primary;
  background: $body-bg;

  &:hover {
    color: $body-bg;
    background: $primary;
  }
}
