.left-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: min-content;
  font-family: Raleway;

  a, a:hover, a:active {
    color: $body-color;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-item {
    display: flex;
    height: 40px;
    opacity: 0.8;
  }

  &-item:hover, &-item:active {
    opacity: 1;
  }

  &-item-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-left: 8px;
  }

  &-item-text:hover, &-item-text:active {
    color: $primary;
  }

  &-item-text .light {
    color: $gray-600;
  }
  &-item-text .opportunity-number {
    margin-left: 4px;
  }

  &-item-icon .badge {
    font-size: 12px;
    color: $white;
  }

  &-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    font-size: 22px;
    position: relative;
    top: -2px;
  }
}

.badge-primary {
  color: $white;
}
