.left-menu {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $beige;
  font-family: Raleway;
  padding-top: 10px;
  margin-left: 200px;
}

.menu-img {
  color : $black;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
  &:active {
    font-weight: bolder;
    text-decoration: underline;
  }
}
