/* Main navbar */
.navbar-suricat {

  /* Logo */
  &-brand img {
    height: 20px;
    position: relative;
    margin-top: -7px;
  }
}

#navbar-suricat {
  // height: $navbar-height;
  color: $white;
  font-family: Raleway;
  padding-left: ($spacer * 1.5);
  padding-right: ($spacer * 1.5);
  font-size: 18px;
  font-weight: 400;

  .navbar-suricat-brand, .nav-link {
    padding: ($spacer * 0.5) $spacer;
  }

  .navbar-toggler:focus {
    outline: none;
  }
}
