%remain-steps {
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: bold;
  }
  &:after {
    background-color: $gray-300;
  }
}
.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $success;

    &::before {
      content: '\f00c';
      content: '\2713;';
      content: '\10003';
      content: '\10004';
      content: '\2713';
      display: block;
      margin: 0 auto 4px;
      background-color: $white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: {
        width: 2px;
        style: solid;
        color: $success;
        radius: 50%;
      }
    }

    &:hover::before {
      background-color: $gray-100;
    }

    &::after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: $success;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child {
      &:after{
        display: none;
      }
    }

    &.is-active {
      @extend %remain-steps;
      &:before {
        background-color: $white;
        border-color: $success;
      }

      ~ li {
        color: #808080;
        @extend %remain-steps;
        &::before{
          background-color: $gray-300;
          border-color: $gray-300;
        }
      }
    }
  }
}
