.nav-container {
  padding: 0;
  margin: 0;
  height: $navbar-height;
}

#page-content-wrapper {
  // padding-top: $navbar-height;
  display: flex;
  width: 100%;

  .sidebar {
    min-width: $sidebar-width;
    max-width: $sidebar-width;
  }

  .sidebar-inner {
    height: calc(100vh - #{$navbar-height} - #{$sidebar-margin});
    width: calc(#{$sidebar-width} - #{$sidebar-margin});
    margin-left: $sidebar-margin;
    margin-top: $sidebar-margin;
    padding: 0;
    border-right: 1px solid transparentize($sand, 0.5);
  }

  .content {
    width: 100%;
    margin-top: 20px;
  }

  #content-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 1199px) {
    #sidebar .left-menu-item-text {
      display: none;
    }

    .sidebar {
      min-width: 60px;
      max-width: 60px;
    }

    .sidebar-inner {
      height: calc(100vh - #{$navbar-height} - #{$sidebar-margin});
      width: calc(80px - #{$sidebar-margin});
      margin-left: 0;
    }
  }
}
