body {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $spacer * 0.75;
  margin-bottom: $spacer * 1.25;
}

@media screen and (max-width: 555px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }
}
