#page-content-wrapper {
  padding-top: $navbar-height;
  display: flex;
  width: 100%;
}

$sidebar-width: 350px;
$sidebar-margin: 20px;
.sidebar {
  min-width: $sidebar-width;
  max-width: $sidebar-width;
}

.sidebar_inner {
  height: calc(100vh - #{$navbar-height} - 2 * #{$sidebar-margin});
  margin: $sidebar-margin;
  width: calc(#{$sidebar-width - 2 * #{$sidebar-margin}});
  padding: 0;
  border-right: 1px solid transparentize($sand, 0.5);
}

.content {
  width: 100%;
  margin-top: 20px;
}
