<h1>test
test
test</h1>

<div class="container">
  <section>
    <h2>My Profile</h2>
  </section>
  <section class= "row">
    <div class="profile-infos">
      <div class="d-flex justify-content-between">
        <span class="border border-primary">
            <div class="profile-diagram">
              <p>eee</p>
            </div>
        </span>
        <span class="border border-primary">
          <div class="profile-applications-status">
            <p>eee</p>
          </div>
        </span>
        <span class="border border-primary">
          <div class="profile-settings">
              <p>eee</p>
          </div>
        </span>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="profile-map">
      <h4>Your Opportunity Map</h4>
      <img src="https://web-tech.fr/wp-content/uploads/2018/07/Google-Maps-payant-810x496.jpg" alt="">
    </div>
  </section>
</div>
